.progress{ 
    span {
    display: block;
    float: left;
    height: 30px;
    background: #3498db;
    text-align: center;
    padding: 30px 40px 0 80px;
    position: relative;
    margin: 0 10px 0 0; 

    font-size: 20px;
    text-decoration: none;
    color: #fff;

    &:after {
      content: "";  
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 30px solid #3498db;
      position: absolute; 
      right: -30px; 
      top: 0;
      z-index:1;
    }

    &:before {
      content: "";  
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 30px solid #fff;
      position: absolute; 
      left: 0; 
      top: 0;
    }
  }
  
  &:first-child{
    span{
      padding-left: 40px;
    }
    span:before{
      display:none;
    }
  }
}