p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.card-img, .card-img-top {
    width: auto;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}