* {
  box-sizing: border-box;
  margin: auto;
}

body {
  background-color: rgb(177, 179, 170);
  position: relative;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 50px;
}

.topheader {
  position: relative;
  height: 200px;
  background-color: mintcream;
  font-style: italic;
}

.name-topheader {
  position: absolute;
  bottom: 60px;
  left: 300px;
  font-size: 80px;
}

ul {
  height: 80px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(147, 146, 150);
}

li {
  float: right;
}

li>a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 80px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

li>a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(147, 146, 150);
  transition-duration: 0.4s;
}

li>a>h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex {
  display: flex;
  text-align: center;
}

.annonce {
  border: solid 1px white;
  background-color: white;
  height: 200px;
  margin: 200px 50px;
  position: relative;
  text-align: center;
}

button {
  background-color: #6396e2;
  border: none;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a {
  background-color: #6396e2;
  border: none;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.identifier {
  border: solid, 1px, white;
}